.secao__login{
    align-items: center;
    color: var(--texto-padrao);
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
    line-height: 19px;
    min-height: calc(100vh - 574px);
}

.formulario__login{
    padding: 2rem 0;
    width: 100%;
}

.formulario__login legend {
    font-weight: 700;
}

.formulario__login fieldset {
    margin: 0 auto;
    max-width: 423px;
}