.botaoPrimario{
    background-color: var(--botao-primario);
    border: none;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.botaoPrimario:hover {
    background-color: var(--botao-primario-hover);
}

.verConsoles {
    height: 40px;
    width: 119px;
}

.enviarMensagem{
    height: 40px;
    width: 151px;
}


@media (min-width: 1300px) {
    .verConsoles {
        height: 51px;
        width: 130px; 
    }

    .enviarMensagem{
        height: 51px;
        width: 165px;
    }
}