@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --botao-primario: #2A7AE4;
  --botao-primario-hover: #5595E9;
  --botao-secundario: transparent;
  --botao-secundario-hover: #D4E4FA;
  --fonte: 'Raleway', sans-serif;
  --fundo-cinza: #E5E5E5;
  --placeholder: #A2A2A2;
  --rodape: #EAF2FD;
  --texto-padrao: #464646;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--fonte);
}

main{
  background-color: rgba(235, 235, 235, 0.5);
}

fieldset{
  border: none;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
  width: 90%;
}