@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
  --botao-primario: #2A7AE4;
  --botao-primario-hover: #5595E9;
  --botao-secundario: transparent;
  --botao-secundario-hover: #D4E4FA;
  --fonte: 'Raleway', sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}